<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Todolist
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-img">
    <h1><b>Aujourd'hui</b></h1>
    <h5>{{ currentDate }}</h5>
    <ion-card>
      <ion-item>
        <ion-input [(ngModel)]="myTask"  placeholder="Entrer une tâche"> </ion-input>
        <ion-button (click)="add()" shape="round" slot="end">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
  </div>

</ion-content>
